html {
    background-color: darkblue;
}

.sidebar {
    width: 35%;
    height: 100%;
    }
#pranesimas{
    font-size: 300%;
width: 100px;
height: 100px;
}

.pirmafoto {
  width: 10%;
  
    
}

#menu {
    display: flex;
 
}