.animacija{
    width: 300px;
    height: 300px;
    border: 4px;
    border-style: solid;
    border-color: rgb(11, 7, 7);
    border-radius: 50%;
    background-color: red;
    margin-left: 40%;
    margin-top: 20%;
    transition: all;
    animation-name: animuojamas;
   
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease;
 }

.animacija:hover {
    transform: skew(10deg);
   translate: 20px;
    transition-duration: 1s;
    background-color: blue;
    
   animation: 4s infinite;
}

.animacija{
    animation: 4s linear infinite alternate 
    animuojamas;

}
@keyframes animuojamas{
     0% { top:25% } 
     50% { top: 45%}
     100% { top: 35%}
}

.svetaine{
    width: fit-content;
    height: 100px;
    border-style: hidden;
    color: greenyellow;
}