/*imports*/
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
/*common*/
html{
    scroll-behavior: smooth;

}

body{
    background-color: rgb(248, 247, 247);
    padding: 30px 15px 15px;
}


/*header*/
header .logo{
display: flex;
align-items: center;
margin-bottom: 10px;
}

.mainMenu > ul{
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
gap: 2px;
box-shadow: 1px 1px 3px black;
border-radius: 5px;
overflow: hidden;


}

.mainMenu > ul > li{
width: 100%;
background-color: #eee;
padding: 10px;
box-sizing: border-box;
padding: 10px;
}


.mainMenu .link{
    color: rgb(66, 66, 245);
    font-weight: 600;
}

#login{
    list-style-type: none;
padding: 0;
margin-top: 20px;
display: flex;
flex-direction: column;
gap: 2px;
box-shadow: 1px 1px 3px black;
border-radius: 5px;
overflow: hidden;

}

#login > p{
   
background-color: rgb(254, 250, 250);
padding: 10px;
box-sizing: border-box;
padding: 10px;
font-weight: 600;
}

#help{
    display: none;
    background-color: rgb(249, 244, 244);
padding: 10px;
box-sizing: border-box;
padding: 10px;
font-weight: 600;
box-shadow: 1px 1px 3px black;
border-radius: 5px;
overflow: hidden;


}

#content{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    box-shadow: 1px 1px 3px black;
    border-radius: 5px;
    overflow: hidden;
    
}
#content > h1{
    background-color: rgb(248, 247, 247);

box-sizing: border-box;
padding: 30px;
font-weight: 400;
}
#content > p{
    background-color: rgb(254, 245, 245);
    padding: 30px;
    box-sizing: border-box;
    
    font-weight: 600;
}

footer > p{
    display: flex;
   justify-content: center;
    font-weight: 700;
    color: grey;
   
    font-weight: 400;
}

@media(min-width:500px){

    body{
        margin-left: 100px;
    }
    .mainMenu .link{
        color: rgb(7, 7, 8);
        font-weight: 600;
        text-decoration: none;
    }

header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainMenu > ul{

    display: flex;
    flex-direction: row;
    gap: 0px;
    
}
main{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}

#login{
    grid-area: 1 / 1 / 1 / 3;
}
#help{
    grid-area: 2 / 1 / 2 / 3;
}
#content{
    grid-area: 1 / 3 / 3 / 6;
}
#help{
display: inline-block;
margin-top: 20px;    
background-color: rgb(255, 252, 252);
padding: 10px;
box-sizing: border-box;
padding: 10px;
font-weight: 600;
box-shadow: 1px 1px 3px black;
border-radius: 5px;
overflow: hidden;
gap: 10px;


}}