
$big-text: 2rem;
$color-warning: rgb(235, 10, 10);
#preprocessors{
    h1{
        font-size: $big-text;
    }
div {
    h3{
        font-size: $big-text;
        color: $color-warning;
    }
    p{
        color: r$color-warning;
    }
}
}